.swiper {
    width: 90%;
    height: 400px;
    margin: 70px 0;
}

.swiper-button-next,
.swiper-button-prev {
    font-weight: 900;
}

.projects__content {
    display: grid;
    justify-content: center;
}

.projects__content__card {
    width: 330px;
    height: 90%;
    border-radius: 12px;
}

.projects__content a {
    text-decoration: none;
}

.projects__img {
    width: 100%;
    height: 55%;
    border-radius: 12px;
    margin-bottom: 25px;
}

.projects__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-hight);
}

.projects__title {
    font-size: var(--h2-font-size);
    margin-bottom: 20px;
    margin: 8px 0 20px;
}

.projeces__button {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.projeces__button i {
    font-size: 16px;
    transition: transform .3s;
}

.projeces__button:hover i {
    transform: translateX(6px);
}
/* ===================== responsive ========================= */
@media screen and (max-width: 1024px) {

    .swiper {
        width: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-weight: 500;
    }

    .projects__content__card {
        width: 330px;
    }

    .projects__img {
        height: 50%;
    }
}
@media screen and (max-width: 991px) {

    .swiper-button-next,
    .swiper-button-prev {
        font-weight: 500;
    }

    .projects__content__card {
        width: 430px;
        height: 90%;
    }

    .projects__img {
        height: 55%;
    }

    .projects__title {
        font-size: 22px;
    }

    .projeces__button {
        font-size: 18px;
    }
}
@media screen and (max-width: 800px) {
    .swiper {
        height: 400px;
        margin: 90px 0;
    }

    .projects__content__card {
        width: 350px;
        height: 90%;
    }

    .projects__img {
        height: 50%;
    }

}
@media screen and (max-width: 500px) {

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 12px;
        font-weight: 300;
    }

    .swiper {
        height: 400px;
        margin: 50px 0;
    }

    .projects__content__card {
        width: 270px;
        height: 90%;
    }

    .projects__img {
        height: 50%;
    }

    .projects__title {
        font-size: 18px;
    }

    .projeces__button {
        font-size: 14px;
    }

}
@media screen and (max-width: 400px) {
    .swiper {
        height: 320px;
        margin: 50px 0;
    }

    .projects__content__card {
        width: 200px;
    }

    .projects__img {
        height: 55%;
    }

    .projects__title {
        font-size: 16px;
    }

    .projeces__button {
        font-size: 12px;
    }

}