.skills__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
}

.skills__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 40px;
}
.skills__title i {
    font-size: 22px ;
    font-weight: inherit;
}
.skills__info,
.skills__data,
.skills__blob {
    display: grid;
}
.skills__info {
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 80px;
}
.skills__data {
    display: grid;
    justify-items: center;
    text-align: center;
}
.skills__blob {
    width: 60px;
    height: 80px;
    background-color: var(--container-color);
    border-radius: 48px;
    place-items: center;
    margin-bottom: 16px;
}
.skills__blob img {
    width: 30px;
}
.skills__name {
    font-size: var(--small-font-size);
    margin-bottom: 4px;
}
.skills_subtitle {
    font-size: var(--tiny-font-size);
    color: var(--text-color-hight);
}
.skills__blob:hover img{
    animation: bounce-skills .6s ;
}

@keyframes bounce-skills {
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }
}

/* ===================== responsive ========================= */
@media screen and (max-width: 1024px) {
    .skills__container {
        column-gap: 230px;
    }
    .skills__title {
        font-size: 18px;
        font-weight: 600;
    }
    .skills__title i {
        font-size: 18px ;
    }
    .skills__info {
        gap: 50px 50px;
    }
    .skills__blob {
        width: 70px;
        height: 90px;
        margin-bottom: 16px;
    }
    .skills__blob img {
        width: 32px;
    }
}
@media screen and (max-width: 991px) {
    .skills__container {
        column-gap: 80px;
    }
    .skills__title {
        font-size: 16px;
    }
    .skills__title i {
        font-size: 16px ;
    }
    .skills__info {
        gap: 40px 35px;
    }
    .skills__blob {
        width: 70px;
        height: 90px;
    }
    .skills__blob img {
        width: 30px;
    }
    .skills__name {
        font-size: 16px;
    }
    .skills_subtitle {
        font-size: 12px
    }
}

@media screen and (max-width: 800px) {
    .skills__container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 60px;
    }
    .skills__info {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px ;
    }


}

@media screen and (max-width: 500px) {
    .skills__container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 60px;
    }
    .skills__info {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px ;
    }
    .skills__blob {
        width: 60px;
        height: 80px;
    }
    .skills__blob img {
        width: 30px;
    }
    .skills__name {
        font-size: 14px;
    }
    .skills_subtitle {
        font-size: 11px
    }

}